# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

bin/
gen/
build/
.gradle/
.idea/
ppdata.dat
hrmlog.csv
app/app.iml
app/app.iml
